# Git
.git
.gitignore

# Docker
.docker
*Dockerfile*ss

# Python
quizify/__pycache__/
quizify/*/__pycache__/
quizify/*/*/__pycache__/
quizify/*/*/*/__pycache__/
.env/
.venv/
venv/
env/

# Js
node_modules
