aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cloudinary==1.36.0
cryptography==41.0.4
defusedxml==0.7.1
dj-database-url==2.1.0
dj-rest-auth==5.0.1
Django==4.2.5
django-allauth==0.55.2
django-colorfield==0.10.1
django-cors-headers==4.2.0
django-filter==23.3
django-model-utils==4.3.1
django-notifications-hq==1.8.3
django-stdimage==6.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-flex-fields==1.0.2
drf-spectacular==0.26.5
frozenlist==1.4.0
gunicorn==19.7.1
idna==3.4
inflection==0.5.1
jsonfield==3.1.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
multidict==6.0.4
oauthlib==3.2.2
openai==0.28.1
Pillow==10.0.1
pipdeptree==2.13.0
psycopg==3.1.11
psycopg-binary==3.1.11
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.31.0
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.13.0
sentry-sdk==1.34.0
six==1.16.0
sqlparse==0.4.4
swapper==1.3.0
timeago==1.0.16
tqdm==4.66.1
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==2.0.5
whitenoise==6.6.0
yarl==1.9.2
